html {
  height: -webkit-fill-available;
  overflow: hidden;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow: hidden;
  margin: 0;
  background-color: black;
  font-family: Impact, sans-serif;
}

